.h500 { height: 500px; }
.h200 { height: 200px; }
.h70  { height: 70px; }

#map {
    width: 100%;
    height: 85%;
}

#listaBicicletarios {
    font-size: 20px;
}

#inputEndereco {
    font-size: 18px;
}